body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    margin: 0;
    padding: 0;
}

.title {
    font-size: 36px;
    margin-top: 20px;
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
    margin: 30px auto;
    width: 450px;
}

.cell {
    width: 150px;
    height: 150px;
    font-size: 36px;
    text-align: center;
    line-height: 150px;
    background-color: #413737;
    cursor: pointer;
    border: 2px solid #fffbfb;
    color: #ffffff;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #ccc;
}

.message {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}